body{
    font-family: "Helvetica","Arial",sans-serif;
    color:#333;
    background-color: #f2f2f2;
    margin: 1em 10%;
}
h3{
    color:#333;
    background-color: transparent;
}
a{
    color:#c60;
    background-color: transparent;
    font-weight: bold;
    text-decoration: none;
}
ul{
    padding:0;
}
ul:before,
ul:after,
clearfix:before,
clearfix:after{
    display: table;
    content: ' ';
}
ul:after,
clearfix:after{
    clear: both;
}
li{
    float:left;
    padding:1em;
    list-style: none;
}

#placeholer{
    width:200px;
    height:auto;
}