td{
    padding: .5em 3em;
}
th{
    color: #edc;
    background-color: #455;
}
tr td{
    color: #223;
    background-color: #eb6;
}
dl{
    overflow: hidden;
}
dt,dd{
    float: left;
}
dt{
    margin-right:1em;
}
dd{
    margin-right:3em;
}
tr.odd td{
    color:#223;
    background-color: #ec8;
}
tr.highlight td{
    color:#223;
    background-color: #cba;
}